.second-slider,
.first-slider{
    padding: 15px 0 15px 15px;
}

.second-slider .swiper,
.first-slider .swiper{
    padding: 30px 0 15px 0;
}

.second-slider-pagination.swiper-pagination-progressbar,
.first-slider-pagination.swiper-pagination-progressbar {
  position: relative; /* Дозволяє розмістити під слайдером у потоці */
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  background: #003F82; 
  border-radius: 2px !important;
  overflow: hidden;
  margin-top: 20px;
  display: block;
}

/* Активна лінія (фікс для відображення) */
.second-slider-pagination .swiper-pagination-progressbar-fill,
.first-slider-pagination .swiper-pagination-progressbar-fill {
  background: #007bff !important; /* Force колір, якщо Swiper його перебиває */
  height: 100%;
  top: 0;
  left: 0;
}

@media(min-width: 800px){
  .first-slider,
  .second-slider{
    max-width: 85vw;
    width: 100%;
    margin: 0 auto;
    padding-top: 8vw;
  }

  .second-slider-pagination.swiper-pagination-progressbar,
  .first-slider-pagination.swiper-pagination-progressbar {
    margin: 0 2vw 0 0;
  }
  .first-slider-next,
  .first-slider-prev{
    display: block;
    background: url(../../images/s-arrow.png) no-repeat;
    background-size: contain;
    width: 5vw;
    height: 5vw;
    opacity: 0.6;
  }

  .first-slider-prev{
    transform: rotate(180deg);
    margin-right: 1vw;
    margin-top: -1vw;
  }

  .first-slider-prev:hover,
  .first-slider-next:hover{
    opacity: 1;
  }
}